<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<input id="fitNum" type="text">
<button onclick="active()">提交</button>

<script>
    function active() {
        var num = document.getElementById("fitNum").value;
        // alert(num);
        $.ajax(
            {
                url: "/active/"+num,
                method:"POST",
                success: function (result) {
                    alert(result);
                }
            }
        )
    }

</script>
</body>
</html>